main{	
	background-color: #02735E;
	padding: 80px 0 80px 0;
	background-image: url("bg_header.png");

}
.formulario{
	width: 80%;
	margin: auto;
	background-color: #A8E090;
	border: 2px solid black;
	border-radius: 15px;
	padding: 20px 0 40px;
}
.cabecalho{
	text-align: center;
	border-bottom: 3px dashed black;
}
.cabecalho img{
	width: 350px;
	margin: 80px 0 0 0;
	padding: 10px;
}
.cabecalho h2{
	font-size: 60px;
	padding: 10px;
	color: #025951;
}
.formulario_principal{
	margin: 40px 0;
}

.formulario_principal label{
	display: block;
	text-transform: uppercase;
	margin: 20px 0 0 20px;
	padding: 10px;
	font-size: 25px;
	color: #025951;
}
.formulario_principal input, textarea{
	width: 80%;
	padding: 10px;
	display: block;
	margin: 0 auto;
}
.selecionar_jogador legend{
	display: block;
	text-transform: uppercase;
	margin: 20px 0 0 20px;
	padding: 10px;
	font-size: 25px;
	color: #025951;
}
.selecionar_jogador label{
	display: block;
	padding: 0 0 0 10px;
	margin: 0 0 5px 20px;
}
.selecionar_jogador input{	
}
.acompanha{
	text-align: center;
	margin: 20px 0 0 0;
}
.acompanha legend{
	font-size: 20px;
	margin: 10px;
}
.acompanha select{
	width: 15%;
	text-align: center;
	font-size: 15px;
	border-radius: 15px;
	cursor: pointer;	
	background-color: #02735E;
}
.option_y{
	background-color: #A60303;
}
.option_t{
	background-color: #C213F2;
}
.receber{
	display: block;
	text-align: center;
	margin: 20px;
	font-size: 20px;
}
.enviar{
	width: 30%;
	display: block;
	margin: 80px auto 0 auto;
	text-align: center;
	font-size: 25px;
	border: none;
	border-radius: 10px;
	color: white;
	background-color: #025951;
	padding: 10px;
	transition: 1s;
	cursor: pointer;
}
.enviar:hover{
	color: #0CF25D;
	background-color: #034159;
	transform: scale(1.05);
}